html {
    font-size: 5.33333333vw;
    height: 100%;
    /* background-image: url(../img/redbinding-background.png); */
    background-size: 100% 100%;
}


/* new style */

.logo-wrap {
    text-align: center;
}

.logo img {
    /*old style */
    /* width: 11.5rem;
    margin-top: 2.4rem;
    margin-left: 3.95rem;
    margin-bottom: 2rem; */
    /* new style */
    /* margin: auto; */
    width: 100%;
    /* margin-top: 2.5rem; */
    /* margin-bottom: 2rem; */
}

.wrap {
    width: 18.75rem;
    /* height: 100vh; */
    /* height: 39rem; */
    height: 100%;
    /* overflow: hidden; */
    position: relative;
}

.topbar {
    height: 21rem;
    width: 14rem;
    background-color: white;
    /* background-image: url(../img/new-banner-background.png); */
    padding: 0 1rem;
    /* margin: 0 0.4rem; */
    /* background-size: 100% 100%; */
    /* background-repeat: no-repeat; */
    border-radius: 5px;
    position: absolute;
    top: 6.125rem;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 999;
    box-shadow: 1px 1px 10px#aaa;
}

.content {
    padding-top: 1.5rem;
    margin-left: -.53rem;
}

.input-wrap input {
    margin-bottom: 1.3rem;
}

.msg-input {
    display: inline-block;
    position: relative;
}

.msg-input input {
    padding: 0px;
}

#checkbox {
    width: 0.6rem;
}

.icon {
    position: absolute;
    width: 0.5rem;
    top: .5rem;
    bottom: 1.375rem;
    left: 1rem;
    margin-right: 0.6rem;
    z-index: 999;
    vertical-align: middle;
}

.red-msg {
    color: #ff6669;
    font-size: 0.6rem;
    left: 1rem;
}

.frist {
    position: absolute;
    top: 2.3rem;
}

.last {
    position: absolute;
    /* top: 41px; */
    top: 2.3rem;
}

.second {
    position: absolute;
    /* top: 42px; */
    top: 2.3rem;
}

.third {
    position: absolute;
    top: 2.5rem;
}

.input-wrap label {
    font-size: 0.75rem;
    color: #002526;
}

.input-wrap label img {
    margin-left: 0.625rem;
    width: 0.5rem;
}

.input-wrap input {
    background-color: transparent;
    border-radius: 18px;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    /* margin-left: 3.7rem; */
    margin-left: 0.5rem;
    display: inline-block;
    font-size: inherit;
    height: 2.2rem;
    /* line-height: 40px; */
    outline: 0;
    padding: 0 1.5rem;
    transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 14rem;
    font-size: 0.7rem;
    background-color: #EEEEEE;
}

.input-wrap input::placeholder {
    /*font-size: 0.6rem;*/
    padding-left: 0.5rem;
    color: #999999;
    /*font-family: Serif;*/
}

.parent {
    margin-left: 0.75rem;
}

.yzm {
    margin-left: 1.5rem;
}

.last-input {
    position: relative;
    margin-bottom: -0.2rem;
    margin-top: -0.4rem;
}

element.style {
    padding: 0 5.5rem;
}

.last-input input {
    /* padding: 0 3rem; */
    width: 7.5rem;
    margin-top: -0.4rem;
}

.last-input #btn {
    width: 6rem;
    top: -0.3rem;
    margin-left: 0.3rem;
    text-align: center;
    padding: 0 10px;
}

#btn {
    margin-top: 0.325rem;
    font-size: 0.35rem;
    /* background-color: #14b69f; */
    border-color: #14b69f;
    font-size: 0.7rem;
    color: white;
}

.gitmsg {
    /* margin-left: 18%; */
    margin-top: -.5rem;
}

.footer #checkbox {
    width: 0.625rem;
    display: inline-block;
    margin-top: -1.4rem;
    margin-bottom: 0;
    border: none;
}

.footer span {
    margin-top: -1.25rem;
    position: absolute;
    top: 0.45rem;
    margin-left: 0.25rem;
    color: #21B5C1;
}

.cz-btn {
    width: 6.7rem;
    margin-left: 0.5rem;
    background-color: #EEEEEE;
    border: 0;
    box-sizing: border-box;
    color: #666666;
    display: inline-block;
    font-size: inherit;
    height: 2.35rem;
    line-height: 2rem;
    /* padding: 0 15px; */
    /* margin-right: 1.15rem; */
    font-size: 0.9rem;
    border-radius: 5px;
    /* margin-top: 0.5rem; */
    border-radius: 18px;
}

.confrim-btn {
    width: 6.6rem;
    margin-left: 0.5rem;
    background-color: #14B69F;
    border: 0;
    box-sizing: border-box;
    color: #ffffff;
    display: inline-block;
    font-size: inherit;
    height: 2.35rem;
    line-height: 2rem;
    /* padding: 0 15px; */
    /* margin-right: 1.15rem; */
    font-size: 0.9rem;
    border-radius: 5px;
    /* margin-top: -0.5rem; */
    border-radius: 18px;
}

button value {
    font-size: 40px;
}

.confirm-usermsg {
    width: 14rem;
    height: 9rem;
    background-image: url(../img/confrim-user-msg.png);
    background-size: 100% 100%;
    margin: 0 2.5rem;
}

.student-msg-content {
    margin: auto;
    padding-left: 1.25rem;
    padding-top: 0.15rem;
    text-align: center;
}

.topbar-title {
    text-align: center;
    line-height: 2rem;
    margin: 0.275rem 0;
    font-size: 0.7rem;
    color: #002526;
}

.topbar-title h3 {
    margin-left: -2.3rem;
    line-height: 2.375rem;
}

.student {
    margin-bottom: 0.8rem;
}

.student-classroom {
    margin-bottom: 0.5rem;
}

.student-msg {
    padding: 0.025rem 0.7rem;
    color: #3e5758;
    font-size: 0.7rem;
}

.altermsg i {
    padding: 0;
    font-size: 0.625rem;
    color: red;
}

.logo {
    position: relative;
}

#returnMsg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 13.75rem;
    font-size: 0.75rem;
    text-align: center;
    color: red;
}

.yzminput input {
    width: 12.5rem;
    text-align: left;
    padding: 0px 10px;
}

#mobile_code::placeholder {
    padding: 0px;
    text-align: center;
}